<div class="container color-dark">
    <div class="col">
      <p>Applications : ecrans</p>
</div>
<div class="container color-dark">
    <div class="col">
</div>
<div class="container color-light">
    <div class="col">
      
      <form>
           
        <input type="submit" class="btn" value="Generer les composants">
        <input type="submit" class="btn" value="Maintenir">
        <input type="submit" class="btn" value="Maintenir">      
          <input type="submit" class="btn" value="Classer">
        
        
        

      </form>
    </div>
    <div class="form-group">
        <label class="col-ms-3 control-label"></label>
        <div class="col-ms-5 selectContainer">
          
          <select class="form-control" name="Choos">
            <option value="tous"> Tous </option>
            <option value="opt1"> Opt1 </option>
            <option value="opt2"> Opt2 </option>

          </select>
        </div>

      </div></div>